.project {
  align-items: center;
  margin-left: 20px;
}

.input-main {
  margin: 0 34px;
  text-align: center;
}

.project-card {
  border-collapse: separate;
  border-spacing: 20px 10px;
  color: grey;
}

.project-card__head {
  color: grey;
}

.project-card__data {
  opacity: 50%;
  opacity: 50%;
  font-weight: bold;
  color: grey;
}

.project-card__btn {
  width: 300px;
  border-radius: 4px;
  margin-left: 40px;
  background-color: grey;
  color: white;
}

.input {
  background: inherit;
  border: 0;
  font: inherit;
  line-height: normal;
  outline: 0;
  padding: 0;
  resize: none;
}

.input-date {
  width: 80px;
}

.input-name {
  width: 150px;
}