
<div class="project" *ngIf="cardProject; else noProject">
<h2> <input type="text" class = "input" [value] = "subject" (change)="changeSubject($event)"></h2>
<table class="project-card">
<tr >
    <td class="project-card__data">Дата Начала</td>
    <td class="project-card__data">Дата окончания</td>
    <td class="project-card__data">Автор</td>
  </tr>
  <tr>
    <td> <input type="text" class = "input input-date" [value] = "startDate | date : 'dd.MM.yyyy'" (input)="changeDateStart($event)" ></td>
    <td> <input type="text" class = "input input-date"  [value]= "endDate | date : 'dd.MM.yyyy'"(change)="changeDateEnd($event)"></td>
    <!-- <td contenteditable="true" #createdBy [textContent] = "createdBy" (change)="addChanges($event)"></td> -->
    <td> <input type="text" class = "input input-name" [value] = "createdBy" (change)="changeAuthor($event)"/> </td>
  </tr>
  <tr>
    <td class="project-card__data">Описание</td>
		</tr>
  <tr>
    <td colspan = "4" > <textarea rows= "3" cols="60" class = "input" [value] ="description" (change)="changeDescription($event)"></textarea></td>
    <!-- <td contenteditable="true" colspan = "3"  #description >{{description}}</td> -->
		</tr>
		</table>
<button class="project-card__btn" (click) ="add()" >Изменить</button>
</div>

<ng-template #noProject >
<h2>
Выберите проект
</h2>
</ng-template>


