
<div class="project-list">
<ul class="item-list">
  <ng-container *ngFor="let item of (projectsList$ | async)">
    <li class="item-list__item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" >
		<a class="item-list__link" [routerLink]="['/projects', item.id]" >
		<div class="item-info">
		<small class="item-info__subtext">{{ item.startDate | date : 'dd MMMM yyyy'  }} - {{ item.endDate | date : 'dd MMMM yyyy'}}</small>
			<p class="item-info__maintext"> {{ item.subject }}</p>
			<small class="item-info__subtext item-info__subtext_signature"> {{ item.createdBy }} </small>
		</div>
	</a>
    </li>
  </ng-container>
</ul>

</div>
