.nav-menu {
  display: flex;
  position: relative;
  align-items: center;
  border-bottom: 1px solid grey;
  /* background -color: lightgrey; */
}

.nav_list {
  display: flex;
  padding: 5px;
}

.nav_list__item {
  list-style-type: none;
  padding: 0 40px;
}

.nav_list___link {
  text-decoration: none;
  font-size: 25px;
  color: black;
}

.disabled {
  pointer-events: none;
}